@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,400&display=swap');

.body{
	background-color: #f3f3f3;
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	display: flex;
    flex-direction: column;
    min-height: 100vh; /* This ensures the body takes at least the full viewport height */
    margin: 0;
}
.contenedorNavBar{
	background-color: #1b1b1b;
	padding: 0em 4rem;
	color: #d0d0d0;
	margin-bottom: 1rem;
	box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
}

.navBarItem{
	font-size: 1.2em;
	padding: 12px 20px;
	gap: 4px;
}

.navBarItem-Main{
	background-color: #FF8C00;
	color: #f5f5f5;
	vertical-align: middle;
	font-weight: bolder;
}

.botonMenu{
	color: #d0d0d0;
	border: none;
	background: none;
	gap: 4px;
}

.home-icon, .person-icon{
	color: white;
}

.botonMenu:hover{
	color: white;
	text-shadow: 0px 0px 2px rgba(200,200,200,0.6);
	transition: all 250ms ease-in-out;
}
.logout-button{
	background-color: rgba(0, 0, 0, 0) !important;
	padding: 0px !important;
	margin: 0px !important;
	outline: none !important;
	border: none !important;
}
.logout-icon{
	color: #FF8C00;
    margin-left: 1rem;
    margin-right: 2rem;
}
.welcome-title{
	margin-top: 0.5rem;
	font-size: 2em;
	color: rgb(10, 10, 10);
}
.welcome-second-title{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    color: rgb(59 59 59);
    font-weight: bold;
    padding-top: 2rem;
}
.menu-section-container{
	gap:32px;
}
.section-column{
    display: flex;
    flex-direction: column;
}
.menu-title{
	font-size: 1.2rem;
	font-weight: 500;
	color: rgb(59 59 59);
	margin-bottom: 3px;
	border-bottom: 2px solid #FF8C00;
}
.opcionMenu{
	width: max-content;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	outline: none;
	padding: 0px 2px;
	margin: 4px 4px;
	font-size: 1.1rem;
	color: #005db1;
}
.opcionMenu:hover{
	text-decoration: underline;
}
.mensajeInfo{
	width: 50%;
	margin:auto;
	padding: 0.5em 2em;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	background-color: #FF8C00;
	color: #f5f5f5;
	border: solid 2px;
	border-radius: 8px;
}

.errorMensaje{
	width: 50%;
	margin: 1em 0.2em;
	padding: 4px;
	text-align: center;
	font-size: 1em;
	background-color: rgba(255, 0, 0, 0.44);
	color: rgba(0, 0, 0, 0.88);
	border-radius: 8px;
}
.badge{
	padding: 8px 16px;
    border-radius: 4px;
    font-weight: 500;
    	color:#676767;

}
.fecha{
	font-size: larger;
	padding: 4px;
	font-weight: 500;
	    color: #343434;
}
.boton-editar{
	display: flex;
    font-size: 1rem;
    color: #1786fe;
    padding: 1px 10px;
    border: 1px solid #0069dbb5;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
}
.boton-editar:hover{
	background-color:rgba(23, 134, 254, 0.2);
}
.boton-eliminar{
	display: flex;
    font-size: 1rem;
    color: rgba(220, 53, 69, 1);
    padding: 1px 10px;
    border: 1px solid rgba(220,53,69,0.7);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);	
}
.boton-eliminar:hover{
	background-color: rgba(220, 53, 69, 0.2);
}
.boton-nuevo{
	margin-right: 2rem;
}
.button-emula-anchor{
	background-color: rgba(0, 0, 0, 0);
	outline: none;
	border: none;
	padding: 0px;
	margin: 0px;
	text-decoration: underline;
	color: rgb(83 153 255);
}
.libros-pedidos-title{
	width: max-content;
	margin-top: 4px;
	font-size: 1.5rem;
	color: rgb(10, 10, 10);
	border-bottom: 2px solid rgba(23, 134, 254, 1);
	padding: 0px 2px;
}